button{
    width: 100px;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  td:hover {background-color: coral;}